    /*------- Kids Gallery ----------*/
    .KidsCakesGallery4{
        object-position: 50% 100%;
    }
    .KidsCakesGallery7{
        object-position: 50% 30%;
    }
    .KidsCakesGallery9{
        object-position: 50% 100%;
    }
/*----------Cakes--------------*/
    .CakesGallery1{
        object-position: 50% 57%;
    }
    .CakesGallery2{
        position: absolute;
        width: 50%;
        object-position: 50% 40%;
        display: inline;
    }
    .CakesGallery3{
        position: absolute;
        width: 50%;
        object-position: 50% 35%;
        display: inline;
        right: 0px;
    }
    .CakesGallery7{
        object-position: 50% 20%;
    }
/*---------Cupcakes------------*/
    .CupcakesGallery1{
        object-position: 50% 80%;
    }
    .CupcakesGallery2{
        object-position: 50% 30%;
    }
    .CupcakesGallery3{
        object-position: 50% 80%;
    }
    .CupcakesGallery4{
        object-position: 50% 80%;
    }
    .CupcakesGallery5{
        object-position: 50% 100%;
    }
    /*--------Cakepops--------*/
    .CakepopsGallery3{
        object-position: 0% 50%;
    }
    .CakepopsGallery4{
        object-position: 50% 40%;
    }
    .CakepopsGallery7{
        object-position: 50% 30%;
    }