.flavContainer{
    position: relative;
    /*height: 100%;*/
    height: 95vh;
    flex-direction: row-reverse;
    overflow: hidden;
    display: flex;
    text-wrap: wrap;
    /*padding: 0 0 200px 0  !important;*/
    top: 55px;
    /*height: 90vh;*/
}

.flavoursHeading{
    background-image: linear-gradient(90deg,#ECE3F0, #D3BBDD, #ECE3F0);
    /*flex: 1 1 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.flavoursContent{
    text-wrap: wrap;
    word-break:break-all;
    background-color: #ECE3F0;
    flex-direction: column;
    flex: 20 0 0;
    height: 100%;
    /*width: 100%;*/
    overflow-y: scroll;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.flavoursContent h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg,#ECE3F0, #D3BBDD, #ECE3F0);
}

.flavoursContent h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg,#ECE3F0, #D3BBDD, #ECE3F0);
}

.flavoursContainer{
    text-wrap: wrap;
    flex: 2 1;
    flex-direction: column;
    /*left: 3rem;*/
}

.scrollingSide{
    flex: 1 0;
    /*left: 1rem;*/
    height: 100vh;
}

.scrollingSide{
    height: 100vh;
}

.flavours1{
    width: 100%;
    height: 25%;
    object-fit: cover;
    padding: 0px;
}

.flavoursSpacing{
    flex: 1 1 1;
}

.footer{
    bottom: -55px !important;
}
/*
.scrollingSide {
    -webkit-animation: move 15s linear infinite;
    animation: move 15s linear infinite;
}
 
@-webkit-keyframes move {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

@keyframes move {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}*/

@media only screen and (min-width: 992px){ 
    .flavContainer{
        top: 100px;
        display: flex;
        height: 90vh;
        /*position: relative;
        flex-direction: row-reverse;
        overflow: hidden;*/
    }

    .flavoursContainer{
        text-wrap: wrap;
        flex: 5 1;
        /*left: 3rem;*/
    }

    .scrollingSide{
        flex: 2 0;
        /*left: 1rem;*/
        height: 100%;
    }

    .flavoursSpacing{
        flex: 2 0;
    }

    .flavours1{
        height: 40%;
    }

    .footer{
        bottom: -100px !important;
    }
/*
    .scrollingSide {
        -webkit-animation: move 20s linear infinite;
        animation: move 20s linear infinite;
    }
     

    @-webkit-keyframes move {
        0% { transform: translateY(-160%); }
        100% { transform: translateY(0%); }
    }
    
    @keyframes move {
        0% { transform: translateY(-160%); }
        100% { transform: translateY(0%); }
    }
 */ 
}