.containerWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50px;
}

.viewWrapper{
    position: relative;
    /*ackground-color: #ECE3F0;*/   
    width: 100%;
    height: 90vh;
/*    top: 50px;*/
    overflow: hidden;
}

.galleryContainers{
    position: relative;
    height: 85vh;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.galleryWrapper{
    position: relative; /*will be absolute*/
    /*display: inline-block;*/
    width: 100%;
/*    flex: 1 0 0%;*/
    margin-bottom: 10px;
}

.imageWrapper{
    height: 100%;
    display: inline-flex;
    height: 45vh;
    width: 50%;
    position: relative; 
}

.img{
    height: 100%;
    width: 100%;
}


@media only screen and (min-width: 1175px){
    .containerWrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .viewWrapper{
        position: relative;
        /*background-color: #ECE3F0;*/
        width: 100%;
        height: 85vh;
        top: 70px;
    }

    .galleryContainers{
        position: relative;
        height: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: inline-flex;  
    }

    .galleryWrapper{
        position: relative; /*will be absolute*/
        display: grid;
        width: 16.66666666666667%;
    /*    flex: 1 0 0%;*/
        margin-bottom: 5px;
    }

    .imageWrapper{
        width: 100%;
        padding: 2px;
    }

    .h0{
        height: 55vh
    }
    .h1{
        height: 43vh
    }
    .h2{
        height: 50vh
    }
    .h3{
        height: 35vh
    }
    .h4{
        height: 47vh
    }
    .h5{
        height: 40vh
    }

}