.containerWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.viewWrapper{
    position: relative;
    background-color: #ECE3F0;
    width: 100%;
    height: 85vh;
    top: 100px;
}

.galleryContainers{
    position: relative;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.galleryWrapper{
    position: relative; /*will be absolute*/
    display: inline-block;
    width: 100%;
    flex: 1 0 0%;
}

.imageWrapper{
    /*height: 100%;*/
    display: inline-block;
    height: 40vh;
    max-width: 100%;
    position: relative; /*will be absolute*/
}

.img-thumbnail{
    height: inherit;
    width: 100%;
}
