/*---------------Landing ---------------------*/

.LandingContainer{height: 100vh;}


.HomeLogo{
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1;
}

.LandingLogo{
    position: relative;
    top: 25%;
    text-align: center;
}

.WelcomeText{
    position: absolute;
    width: 100%;
    left: 0px;
    font-size: 2rem;
}

.landingBGImage{
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-x;
    height: 100vh;
    width: 100%;
    z-index: -100;
    opacity: 4%;
    overflow: hidden;
}

/*---------------- About Me ---------------------*/

.aboutMe{text-align: center;}

.aboutMeHeader{
    font-size: 2rem;
    width: 100%
}

.aboutMeContainer{
    width: 100%;
    display: inline-block;
    position: relative;
}

.aboutMeImageContainer{width: 100%;}

.aboutMeImage{width: 90%;}

.aboutMePragraph{
    font-size: 1.25rem;
    position: relative;
}


.aboutMeBGImage{
    height: 100%;
    aspect-ratio: 4480 / 6720;
    position: absolute;
    top: 0px;
    object-fit: cover;
    object-position: center;
    background-image: url("../images/aboutMeBGP.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -100;
    margin: 0px;
    padding: 0px;
    left: 0px;
    filter: blur(5px);
}

/*------------------- Gallery ------------------------*/

a{color: black !important;}

.galleryContainer{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.galleryHeader{
    text-align: center;
    font-size: 2rem;
    width: 100%
}

.carousel-list{
    background-color: #D3BBDD;
    width: 100%;
    font-size: 1.5rem;
}

.carousel-button:hover{
    scale: 1.3;
    color: #ECE3F0 !important;
    cursor: pointer;
}  

.carouselSlide{
    height: 100%;
    position: relative;
    width: 100%;
}

.carousel-inner{
    height: 100%;
    position: relative;
}

.carousel-gallery{
    height: 100%;
    position: relative;  
    background-color: white;
    width: 100%;
}

.carouselGallery{
    object-fit: cover;
    width: 100%;
    height: 40vh;
    margin-bottom: 0px !important;
}

.Gallery{
    position: relative;
    /*height: 100%;*/
    /*min-width: 100%;*/
    display: inline flex;
    flex-direction: row; 
    padding-right: 0px !important;
}

.rightPics{
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.galleryDoubleInCol{
    width: 50%;
    display: inline-flex;
}

 /*------- Kids Gallery ----------*/
.KidsCakesGallery4{object-position: 50% 100%;}

.KidsCakesGallery7{object-position: 50% 30%;}

.KidsCakesGallery9{object-position: 50% 100%;}

/*----------Cakes--------------*/
.CakesGallery1{object-position: 50% 57%;}

.CakesGallery2{
    object-position: 50% 40%;
    max-width: 100%;
}

.CakesGallery3{
    object-position: 50% 35%;
    padding-right: 0px !important;
    margin-right: 0px !important;
    /*right: 0px;*/
}

.CakesGallery6{height: 50%;}

.CakesGallery7{
    object-position: 50% 20%;
    height: 50%;
}
/*---------Cupcakes------------*/
.CupcakesGallery1{object-position: 50% 80%;}

.CupcakesGallery2{object-position: 50% 30%;}

.CupcakesGallery3{object-position: 50% 80%;}

.CupcakesGallery4{object-position: 50% 80%;}

.CupcakesGallery5{object-position: 50% 100%;}
/*--------Cakepops--------*/
.CakepopsGallery3{object-position: 0% 50%;}

.CakepopsGallery4{object-position: 50% 40%;}

.CakepopsGallery7{object-position: 50% 30%;}

/*-------------------Testimonials-----------------------*/

.Testimonials{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.testimonialContainer{
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: relative; 
}

.testimonialsPhotoContainer{
    text-align: center;
    position: relative;
}

.testimonialsParagraph{
    font-size: 2rem;
    text-align: center;
    position: relative;
}

.carousel-testimonial{
    height: 100vh;
    position: relative;  
    /*background-color: black;*/
    width: 100%;
}

.testimonialsBG{
    aspect-ratio: 4480 / 6720;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    background-size: 100vw 250vh;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    left: 0px;
    filter: blur(10px);
    /*opacity: 100%;*/
}

.testimonialsPhoto{
    object-fit: cover;
    height: 50vh;
    /*z-index: 1;*/
}

.rating{
    appearance: none;
    color: transparent;
}

.rating::before{
    --percent: calc(var(--UpdateRating)/5*100%);
    content: '★★★★★';
    background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    color: rgba(0,0,0,0.2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonialUserImageContainer{
    height: 12vh;
    aspect-ratio: 1/1;
}

.testimonialUserImage{
    height: 100%;
    width: 100%;
}

/*----------------------------------------------------------*/
/*--------------------Mobile Landscape----------------------*/
/*----------------------------------------------------------*/
@media screen and (orientation:landscape)
and (max-width: 935px){
    .LandingLogo{text-align: unset;}

    .HomeLogo{
        max-width: 25%;
        left: 10%;
    }

    .WelcomeText{
        font-size: 2rem !important;
    }

    .Gallery{
        width: 100%;
    }
    .carouselGallery{
        height: 90vh !important;
    }

    .galleryDoubleInCol{
        width: 100%;
    }
}

/*----------------------------------------------------------*/
/*--------------------Ipads/Tablets-------------------------*/
/*----------------------------------------------------------*/
@media screen and (min-width: 545px) and (max-width: 991px){

    .Gallery{min-width: 100%;}

    .KidsCakesGallery8{max-width: 49%;}

    .CakesGallery2{min-width: 100%;}

    .CakesGallery8{max-width: 50%;}

    .CakepopsGallery6{max-width: 50%;}
}

/*----------------------------------------------------------*/
/*--------------------DESKTOP-------------------------------*/
/*----------------------------------------------------------*/
/*@media only screen and (min-width: 576px){*/
/*992*/
@media only screen and (min-width: 992px){

    /*-------------Gallery------------------*/

    .galleryHeader{font-size: 4rem;}
    

    .Gallery{
        position: relative;
        height: 100%;
        min-width: unset;
        display: block;
    }

    .galleryContainer{
        height: 100vh;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .carousel-gallery{
        display: inline-flex;
        height: 90vh;
    }

    .galleryDoubleInCol{
        width: 100%;
        height: 100%;
    }

    .CakesGallery2{
        position: relative;
        display: inline;
        max-width: 120%;
        /*padding-right: 8px !important;*/
    }
    .CakesGallery3{
        position: relative;
        display: inline;
        /*min-width: 101%;*/
        /*padding-left: 8px !important;*/
    }

    .CakesGallery6{
        height: 40%;
        max-width: 100%;
    }

    .CakesGallery7{height: 60%;}

    .KidsCakesGallery8{max-width: unset;}

    .CakesGallery8{max-width: unset;}
}

@media only screen and (min-width: 768px){

    /*---------------Landing ---------------------*/

    .LandingLogo{text-align: unset;}

    .HomeLogo{
        max-width: 25%;
        left: 10%;
    }

    .WelcomeText{
        position: relative;
        width:  50vw;
        text-align: center;
        left: 0px;
        font-size: 4.75rem;
    }

/*---------------- About Me ---------------------*/

    .aboutMeBGImage{
        min-height: 100%;
        background-image: url("../images/aboutMeBG.jpg");
        aspect-ratio: 6780 / 4480;
        min-width: 100%
    }

    .aboutMeHeader{
        font-size: 5rem;
    }

    .aboutMeContainer{
        width: 100%;
        display: inline-flex;
    }

    .aboutMePragraph{
        position: relative;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin: auto 50px auto 50px;
        padding: auto 50px auto 50px;
        left: 0px;
        display: flex;
    }

    .aboutMeImage{width: 30vw;}

}