/*.container{
    height: 100vh;
}*/

.rheight{
    height: 100vh;
}

/*---------------Landing ---------------------*/

.HomeLogo{
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1;
}

.LandingLogo{
    position: relative;
    top: 25vh;
    text-align: center;
}

.WelcomeText{
    position: absolute;
    width: 100%;
    left: 0px;
    font-size: 2rem;
}

.landingBGImage{
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-x;
    height: 100vh;
    width: 100%;
    z-index: -100;
    opacity: 4%;
    overflow: hidden;
}

/*---------------- About Me ---------------------*/

.aboutMe{
    text-align: center;
}

.aboutMeHeader{
    font-size: 2rem;
    width: 100%
}

.aboutMeContainer{
    width: 100%;
    display: inline-block;
    position: relative;
}

.aboutMeImageContainer{
    width: 100%;
}

.aboutMeImage{
    width: 90%;
}

.aboutMePragraph{
    font-size: 1.25rem;
    position: relative;
}


.aboutMeBGImage{
    height: 100%;
    /*width: 100%;*/
    aspect-ratio: 4480 / 6720;
    position: absolute;
    top: 0px;
    object-fit: cover;
    object-position: center;
    background-image: url("../images/aboutMeBGP.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -100;
    margin: 0px;
    padding: 0px;
    left: 0px;
    filter: blur(5px);
}

/*------------------- Gallery ------------------------*/

.galleryHeader{
    text-align: center;
    font-size: 2rem;
    width: 100%
}

.galleryContainer{
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

a{
    color: black !important;
}

.carouselView{
    /*position: absolute;*/
   /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;*/
    /*overflow-x: scroll;*/
    overflow: hidden;
    counter-reset: item;
    height: 90vh;
}

.carouselSlide{
    height: 100%;
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item; 
}

.carousel-list{
    background-color: #D3BBDD;
    width: 100%;
    font-size: 1.5rem;
}

.carousel-button:hover{
    scale: 1.3;
    color: #ECE3F0 !important;
}  

.carousel-inner{
    height: 100%;
    position: relative;
}

.carousel-item{
    height: 100%;
    position: relative;
    flex: 0 0 100%;
    /*width: 100%;*/
    /*display: none !important;*/
}

.carousel-gallery{
    object-fit: cover;
    width: 100%;
}

/*-------------------Testimonials-----------------------*/

.Testimonials{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/*----------------------------------------------------------*/
/*--------------------DESKTOP-------------------------------*/
/*----------------------------------------------------------*/
/*@media only screen and (min-width: 576px){*/
@media only screen and (min-width: 576px){

    /*---------------Landing ---------------------*/

    .LandingLogo{
        text-align: unset;
    }

    .HomeLogo{
        max-width: 25vw;
        left: 10vw;
    }

    .WelcomeText{
        position: relative;
        width:  50vw;
        text-align: center;
        left: 0px;
        font-size: 5rem;
    }

/*---------------- About Me ---------------------*/

    .aboutMeBGImage{
        /*background-size: 100% 100%;*/
        min-height: 100%;
        background-image: url("../images/aboutMeBG.jpg");
        aspect-ratio: 6780 / 4480;
        min-width: 100%
    }

    .aboutMeHeader{
        font-size: 5rem;
    }

    .aboutMeContainer{
        width: 100%;
        display: inline-flex;
    }
/*
    .aboutMeImageContainer{
        position: relative;
    }
*/
    .aboutMePragraph{
        position: relative;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin: auto 50px auto 50px;
        padding: auto 50px auto 50px;
        left: 0px;
        display: flex;
    }

    .aboutMeImage{
        width: 30vw;
    }

/*-------------Gallery------------------*/

    .galleryHeader{
        font-size: 5rem;
    }

    .Gallery{
        position: relative;
        height: 100%;
    }
    /*------- Kids Gallery ----------*/
    .KidsCakesGallery4{
        object-position: 50% 100%;
    }
    .KidsCakesGallery7{
        object-position: 50% 30%;
    }
    .KidsCakesGallery9{
        object-position: 50% 100%;
    }
/*----------Cakes--------------*/
    .CakesGallery1{
        object-position: 50% 57%;
    }
    .CakesGallery2{
        position: absolute;
        object-position: 50% 40%;
        display: inline;
    }
    .CakesGallery3{
        position: absolute;
        object-position: 50% 35%;
        display: inline;
        right: 0px;
    }
    .CakesGallery7{
        object-position: 50% 20%;
    }
/*---------Cupcakes------------*/
    .CupcakesGallery1{
        object-position: 50% 80%;
    }
    .CupcakesGallery2{
        object-position: 50% 30%;
    }
    .CupcakesGallery3{
        object-position: 50% 80%;
    }
    .CupcakesGallery4{
        object-position: 50% 80%;
    }
    .CupcakesGallery5{
        object-position: 50% 100%;
    }
    /*--------Cakepops--------*/
    .CakepopsGallery3{
        object-position: 0% 50%;
    }
    .CakepopsGallery4{
        object-position: 50% 40%;
    }
    .CakepopsGallery7{
        object-position: 50% 30%;
    }
}