node_modules
depricated
init-scripts
src/config/.env.prod
src/config/.env.dev
.env.prod
docker-compose-hotfix.yml
Dockerfile.mysql
Dockerfile backup
compose-old.yml
docker-compose.yml
docker-compose-hotfix.yml
docker-compose-hotfix-old.yml
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.txt