@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 400;
  src: local('EBGaramond Regular'), local('EBGaramond-Regular'), url('./fonts/EBGaramond-Regular.ttf') format('truetype');
}

header {
  float: none;
  clear: both;
}

body {
  background-image: url("./Index Images/Background.jpg");
  background-attachment: fixed;
  padding-top: 70px;
  font-family: 'EBGaramond';
  width: 99vw;
}

.bg {
  background-image: url("./Index Images/Background.jpg");
}

.logo {
  width: 25%;
  height: 100%;
}

.fontsize {
  font-size: 29px;
  font-weight: bold;
}

.hr-line {
  width: 100%;
  border: 10px solid rgb(255, 217, 0);
  opacity: 70%;
  position: absolute;
  z-index: -2;
  animation-name: fill;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 0% 100%, 45.5vw 100%, 46vw 0%, 52.8% 0%, 52.9% 100%, 25% 100%, 25% 100%, 100% 100%, 100% 0%);
}


.ribbon {
  opacity: 90%;
  position: absolute; 
  margin: -6px;
  width: 128px;
  margin-top: -100px !important;
  padding: 0px !important;
  z-index: -2;
}
.centerLogo {
  flex: 0 auto;
  display: block;
  height: 10vw; 
  max-height: 250px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  transform: translateX(-50%);
  text-align: center;
  border: 1px;
  clip-path: circle(55%);
  overflow: hidden;
  z-index: -1;
}

.navbar-brand {
  flex: 1 5 0 5;
  display: block;
  height: 10vw; 
  max-height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  transform: translateX(-50%);
  text-align: center;
}


.navbar-brand img {
  max-height: 100%;
  max-width: 100%;
}


/* ============================================== Opening */

.parentBox {
  width: 99vw;
  min-width: 1550px;
  height: 20%;
  /*max-height: 256px;*/
  min-height: 200px;
  /*background: #fff;*/
  background-color: #FFD4DB;
  margin: 15vw auto;
  position: relative;
  animation-name: fill, text;
  animation-duration: 2s, 1s;
  animation-iteration-count: 1;
}

.mainContain {
  min-height: 40vh;
  height: 30%;
  max-height: 500px;
  width: 100%;
  align-content: center;
  text-align: center;
  overflow: hidden;
}

.mainContain div:nth-child(1) {
  min-width: 60px;
}

.mainContain div:nth-child(3) {
  min-width: 250px;
}

.mainContain div:nth-child(4) {
  min-width: 250px;
}

.mainContain div:nth-child(5) {
  min-width: 20px;

}
.mainContain img {
  max-width: 30vh;
  max-height: 35vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.lowerContain {
  font-size: 20px;
  font-weight: bold;
}

.lowerContain img {
  max-width: 50px;
}

.childBox {
  position: absolute;
  width: 25%;
  left: 10%;
  top: -50%;
  height: 200%;
  background: linear-gradient(45deg, #D3BBDD, #ECE3F0);

  /*background: rgb(248,248,255);*/
  animation-delay: 0s, 6.5s;
  animation-name: drop, bounce;
  animation-duration: 2s, 2s;
  align-self: flex-end;
    /*background-color: rgb(248,248,255);*/
  transform-origin: bottom;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-iteration-count: 1, infinite;
}

::-webkit-scrollbar {
  width:0em;
}


.drop {
  animation: drop 1.1s both;
}

@keyframes drop {
0% {
  transform: translateY(-500px);
  animation-timing-function: ease-in;
  opacity: 0;
}
20% {
  transform: translateY(-500px);
  animation-timing-function: ease-in;
  opacity: 0;
}
38% {
  transform: translateY(0);
  animation-timing-function: ease-out;
  opacity: 1;
}
55% {
  transform: translateY(-65px);
  animation-timing-function: ease-in;
}
72% {
  transform: translateY(0);
  animation-timing-function: ease-out;
}
81% {
  transform: translateY(-28px);
  animation-timing-function: ease-in;
}
90% {
  transform: translateY(0);
  animation-timing-function: ease-out;
}
95% {
  transform: translateY(-8px);
  animation-timing-function: ease-in;
}
100% {
  transform: translateY(0);
  animation-timing-function: ease-out;
}
}


@keyframes bounce{
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-20px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


@keyframes fill {
    0%   { width: 0; }
    100% { width: 99vw; }
}

@keyframes text {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

/* ============================================== Cake */

#cake {
  display: block;
  position: relative;
  padding: auto;
  margin: auto;
  margin-top: -105%;
}

/* ============================================== Candle */

.candles {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 18vw;
  left: 50%;
  margin: 15% 0;
  /*margin: 0 auto;*/
  width: 1.75%;
  height: 7%;
  transform: translateY(-10000px);
  backface-visibility: hidden;
  animation: in 500ms 5s ease-out forwards;
}
.candles:after,
.candles:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
}
.candles:after {
  top: 85%;
  left: 0;
}
.candles:before {
  top: 0%;
  left: 0;
}

/* ============================================== Fire */

.fire {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fire:nth-child(1) {
  animation: fire 2s 6.5s infinite;
}
.fire:nth-child(2) {
  animation: fire 1.5s 6.5s infinite;
}
.fire:nth-child(3) {
  animation: fire 1s 6.5s infinite;
}
.fire:nth-child(4) {
  animation: fire 0.5s 6.5s infinite;
}
.fire:nth-child(5) {
  animation: fire 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire */

@keyframes fire {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

/* ============================================== Gallery Pages */

.stopGap {
  top: 150px;
}

.sort { 
  top: 50px;
  right: 0px;
  width: 20vw;
}

.fullSize {
  top:250px;
  left: 2vw;
  position: absolute;
  width: 98vw;
  animation-name: text;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.fullSize img {
  max-width: 15vw;
  min-width: 250px;
  max-height: 40vh;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fullSize img:hover {
  max-width: 15vw;
  min-width: 250px;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.userForm {
  position: absolute;
  left: 30vw;
  right: 30vw;
  top: 300px;
  max-width: 70vw;
  min-width: 40vw;
}

.enquiresBox {
  background: linear-gradient(45deg, #D3BBDD, #ECE3F0);
  max-width: 65vw;
  min-width: 50vw;
  min-height: 900px;
  max-height: 1000px;
  position: static;
  margin-right: 1vw; 
  margin-left: 1vw;
  padding-right: 1vw; 
  padding-left: 1vw;
}

.enquiresWrapper {
  margin-right: 23vw; 
  margin-left: 23vw; 
  max-width:1160px; 
  padding-right: 10px; 
  padding-left: 10px;
  padding-top: 180px;
  animation-name: text;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}  

.behindBox {
  width: 99vw;
  top: 35vh;
  left: .5vw;
  height: 400px;
  background-color: #FFD4DB;
  margin: 0 0 .5vw 0;
  position: fixed;
}

.flavoursBox{
  top: 15vh;
  width: 650px;
  height: 820px;
  background: linear-gradient(45deg, #D3BBDD, #ECE3F0);
  position: relative;

}

.FlavoursContain {
  width: 100%;
}

.datetime {
  border: 0px;
  font-size: 25px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

.fontsizeL {
  font-size: 25px;
  font-weight: 100;
}

.flavoursRibbon img{
  top: -40px;
  right: -50px;
  width: 550px;
  height: 550px;
  min-height: 400px;
}

.flavoursFlower img{
  width: 250px;
  height: 400px;
  left: -80px;
  bottom: -50px;
}


.toolTip1 {
  position:absolute;
  height: 350px;
  width: 250px;
  left: 15vw;
  display: none;
}

.toolTip2 {
  position:absolute;
  height: 350px;
  width: 250px;
  right: 15vw;
  display: none;
}

.modalFontSize {
  font-size: 20px;
}