body {
    background: #aaa;
  }
  .parentBox {
    width: 99vw;
    height: 20vw;
    background: #fff;
    margin: 15vw auto;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.2);
    position: relative;
  }
  .childBox {
    position: absolute;
    width: 25%;
    left: 10%;
    top: -50%;
    height: 200%;
    background: rgba(255,0,0,0.3);
  }

::-webkit-scrollbar {
    width:0em;
}
