body {
    background: #aaa;
    padding-top: 70px;
  }
  .parentBox {
    width: 99vw;
    height: 20vw;
    background: #fff;
    margin: 15vw auto;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.2);
    position: relative;
    animation-name: fill;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  .childBox {
    position: absolute;
    width: 25%;
    left: 10%;
    top: -50%;
    height: 200%;
    background: rgba(255,0,0,0.3);
    animation-name: flow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

::-webkit-scrollbar {
    width:0em;
}

@keyframes flow{
    50%{
      transform: translateY(10px);
    }
  }

 @keyframes fill {
    0%   { width: 0; }
    100% { width: 99vw; }
  }