services:
  db:
    image: mysql:9.3
    cap_add:
      - SYS_NICE
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - ./.env.prod
    volumes:
      - db_data:/var/lib/mysql
      - ./init-scripts:/docker-entrypoint-initdb.d:ro
      - ./init-scripts/db-hotfix.sql:/tmp/db-hotfix.sql:ro
    command: >
      bash -c "
        docker-entrypoint.sh mysqld &
        until mysqladmin ping -h localhost --silent; do sleep 2; done &&
        echo 'Running one-time database updates...' &&
        mysql -uroot -p$$MYSQL_ROOT_PASSWORD < /tmp/db-hotfix.sql &&
        echo 'Updates complete!' &&
        wait
      "
    #command: >
    #  bash -c "
    #    docker-entrypoint.sh mysqld &
    #    echo 'Waiting for SQL...' &&
    #    until mysqladmin ping -h localhost --silent; do sleep 2; done &&
    #    echo 'SQL Started, launching app...' &&
    #    wait
    #  "

  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: arnies-cakes:latest
    entrypoint: ["./init-scripts/init-gallery.sh"]
    command: ["node", "src/server.js"]
    env_file:
      - ./src/config/.env.dev
    environment:
      - NODE_ENV=production
      - DB_HOST=db
    restart: always
    ports:
      - "3305:3305"
    volumes:
      - gallery_data:/usr/src/app/src/public/gallery
    depends_on:
      - db

volumes:
  db_data:
  gallery_data: