.form {
	background-color: #ECE3F0;
	flex: 4 1 0;
}

.padding{
	flex: 1 1 0;
}

.navSpacer{
	display: flex;
}


#Update,
#Add,
#Delete,
#Create{
	display: none;
}

.itemWrapper{
	width: 100%;
	position: relative;
}

.form-check-label {
	text-wrap: pretty;
	width: 75%;
}