.navSpacer{
    position: relative;
    top: 55px;
}

.enquiriesList{
    width: 100vw;
    /*top: 100px;*/
    position: relative;
    /*background-color: #D3BBDD;*/
    /*width: 50vw;*/
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

table tr th {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ECE3F0;
}

@media only screen and (min-width: 992px){
    .navSpacer{
        position: relative;
        top: 100px;
    }
}