.navSpacer{
	position: relative;
    	top: 60px;
}

.enquiriesList{
	position: relative;
	height: 35vh;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #ECE3F0;
}

.enquiriesContainer, .ordersContainer{
	width: 100%;
	position: relative;
	height: 40vh;
	overflow: hidden;
	border: 1px solid #ECE3F0;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	position: relative;
	width: 100%;
}

table tr th {
	position: sticky;
	position: -webkit-sticky;
	z-index: 10;
	top: 0;
	border: 1px solid #dddddd;
	background: #D3BBDD;
	text-align: left;
	padding: 10px;
}

td{
	border: 1px solid #dddddd;
	text-align: left;
	font-size: 0.77rem;
	padding: 8px;
}

tr:nth-child(even) {
    	background-color: #ECE3F0;
}

td:nth-child(4):hover {
    	cursor: pointer;
}

h1{
	top: 0;
	font-size: 1rem;
	text-align: center;
	background-color: #ECE3F0;
	padding: 0px;
	margin: 0px;
}

h2{
	top: 0;
	font-size: 1rem;
	text-align: left;
	background-color: #ECE3F0;
}

.orderingContainer{
	display: inline-flex;
	flex-direction: column;
	width: 100vw;
}

.ordersContainer, .ordersCalender{
	height: 50%;
}

.ordersCalender{
	display: flex;
}


/*-------------- Calendar -------------------*/

.calendar {
	width: 100vw;
	background-color: #fff;
}

.calendar-box{
	aspect-ratio: 1/2;
	display: flex;
	flex-direction: column;
}

.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.calendar-header button {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

#month-year {
	font-size: 1.2em;
	font-weight: bold;
}

.calendar-weekdays, .calendar-dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div, .calendar-dates div {
	/*text-align: center;*/
	padding: 10px;
}

.calendar-weekdays {
	background-color: #eaeef3;
	text-align: center;
}

.calendar-weekdays div {
	font-weight: bold;
}

.calendar-dates div {
	border-bottom: 1px solid #eaeef3;
	cursor: pointer;
}

.calendar-dates div:hover {
	background-color: #f1f1f1;
}

.current-date {
	background-color: #ECE3F0;
}

.disabled-past {
	background-color: #f1f1f1;;
	opacity: 10%;
}

.disabled-busy{
	background-color: #f1f1f1;;
}

.Disable{
	aspect-ratio: 1/1 !important;
	text-align: center;
	margin: auto;
	width: 100%;
	cursor: default !important;
}

.enquiry{
	aspect-ratio: unset !important;
	background-color: #D3BBDD;
	width: 100%;
	font-size: 0.8rem;
	text-align: center;
	margin-top: 10px !important;
}

.enquiry:nth-child(even){
	background-color: #ECE3F0;
}

.Enabled{
	background-color: #F7F4FA ;
}

.Enabled:hover{
	background-color: #F0E9F5 !important; 
}

@media only screen and (min-width: 431px){
	.navSpacer{
		position: relative;
		top: 110px;
	}

	td{
		font-size: 1rem;
	}

	.orderingContainer{
		flex-direction: row;
	}


	.enquiriesList h1{
		font-size: 2rem;
	}

	.enquiriesContainer{
		width: 50vw;
	}


	.calendar {
		width: 25vw;
		background-color: #fff;
	}


	.calendar-box{
		aspect-ratio: 1/1.75;
		display: flex;
		flex-direction: column;
	}
    
}