<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/index.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>
<body>
	
	<div class="container-fluid m-0 p-0 overflow-x-hidden">
		<div class="row aboutMe">
			<div class="col position-relative overflow-hidden m-0 p-2 py-5">
				<div class="row m-0 p-0 mt-5">
					<div class="col">
						<h1 class="aboutMeHeader">About Me</h1>
					</div>
				</div>
				<div class="row aboutMeContainer">
					<div class="col aboutMeImageContainer my-auto py-auto">
						<img class="img-thumbnail rounded-3 aboutMeImage" loading="lazy"
							src="./images/arnie.jpg">
					</div>
					<div class="col aboutMePragraph py-2 my-auto py-auto">
						<p>
							Hi! I'm Arnie.
							<br><br>
							Growing up I always dreamt of how amazing it would be to go to
							work every day to a place that smelled of fresh cakes and
							colorfully decorated treats. I put this dream on the backburner,
							until the beginning of 2020.
							<br><br>
							I found so much comfort in baking cakes in my home kitchen. My
							friends and family started wondering how they could order and
							taste what I was baking, and that's how Arnie's Cakes was born!
							<br><br>
							Since then, I have spent the years learning and baking, creating
							fun treats for so many special occasions, and doing what I love.
							<br><br>
							I am HACCP Level 1 and Food Allergen certified.
							<br>
							Based in Dublin 24.
						</p>
					</div>
				</div>
				<div class="aboutMeBGImage"></div>
			</div>
		</div>
		<div class="w-100 m-0 p-0"></div>
		<footer id="footer" class="footer container-fluid m-0 p-0">
	<ul class="nav border-top m-0 p-0 footerList">
		<li class="nav-item nav-logo-footer">
			<a href="/">
				<img class="footerLogo"
					src="/images/home logo.png">
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.instagram.com/arnies_cakes/" target="_blank">
				<img class="footerImages" src="/images/instagram.svg">
			</a>
			<a class="footerLinks" href="https://www.instagram.com/arnies_cakes/" target="_blank">
				@arnies_cakes
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.facebook.com/ArniesCakes" target="_blank">
				<img class="footerImages" src="/images/facebook.svg">
			</a>
			<a class="footerLinks" href="https://www.facebook.com/ArniesCakes" target="_blank">
				Dublin Tortai - 'Arnie's Cakes'
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="mailto:arniescakes@gmail.com" target="">
				<img class="footerImages" src="/images/gmail.svg">
			</a>
			<a class="footerLinks" href="mailto:arniescakes@gmail.com" target="">
				arniescakes@gmail.com
			</a>
		</li>
		<li class="nav-item footerEnquires my-auto rounded-5">
			<a href="/Enquiries">
				Enquiries
			</a>
		</li>
	</ul>
</footer>
</body>
<script src="./js/shared.js"></script>
</html>