<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/flatpickr.js"></script>
	<link rel="stylesheet" href="./styling/flatpickr.css">
	<script src="./js/confirmDate.js"></script>
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/confirmDate.css">
	<link rel="stylesheet" href="./styling/enquiries.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>

<body>
	<div class="container-fluid EnquiriesContainer m-0 p-0">
		<div id="sideScroll" class="row sideScrollContainer m-0 p-0">
	<div class="col homeImageContainer">
		<div class="row sideScrollL m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
		</div>
		<div class="row sideScrollR m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
		</div>
	</div>
</div>
		<div class="ennquiresWrapper m-0 p-0">
			<div class="row policyContainer m-0 p-3 pb-5">
				<div class="col policy m-0 p-3 ms-3 rounded">
					<p>
					<h1>Policy:</h1>
					<h4>
						<br>
						Hello! I'm looking forward to potentially working together.<br><br>
						<b>Keep in mind that in no way does filling out this form put you on my
							calendar, reserves a spot or places your order.</b><br><br>
						I kindly request that all orders be placed <b>at least two weeks in
							advance.</b><br>
						If an order is placed with short notice, a short-notice fee may
						apply.<br><br>
						I offer delivery services to most surrounding areas, subject to an
						additional fee.<br><br>
						To secure your selected date <b> a deposit is required upon
							booking.</b><br>
						Should you need to cancel your order, I kindly ask that you provide us
						with sufficient notice, failure to comply will result in a
						non-refundable deposit.<br><br>
						I will try to respond as soon as possible.<br>
						Thank you.
					</h4>
					</p>
				</div>
			</div>
			<div class="row formContainer m-0 p-3">
				<div class="col userForm fontsizeEnquiries m-0 p-3 rounded">
					<form id="form" action="/api/submitEnquirie" method="POST"
						enctype="multipart/form-data" novalidate>
						<div class="mb-3">
							<label for="fullNameInput" class="form-label">Full Name:</label>
							<input type="text" class="form-control form-control-lg"
								id="fullNameInput" placeholder="Name" required>
							<div class="invalid-feedback">Please enter your name.</div>
						</div>
						<div class="mb-3">
							<label for="emailInput" class="form-label">Email:</label>
							<input type="email" class="form-control form-control-lg"
								id="emailInput" placeholder="name@example.com"
								pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
								required>
							<div class="invalid-feedback">Please make sure email is entered
								correctly</div>
						</div>
						<div class="mb-3">
							<label for="numberInput" class="form-label">Phone
								Number:</label>
							<br>
							<div class="d-flex">
								<input type="tel" class="form-control form-control-lg"
									id="numberInput"
									placeholder="0871234567 or +353871234567"
									pattern="^(08\d{8}|\+3538\d{8})$" length="13"
									title="Please enter number in the format of 0871231234 or +353871231234"
									required>
								<br>
								<div class="invalid-feedback">Please make sure your
									number is starting with 08 or +353</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Date of Event:</label>
							<br>
							<input class="flatpickrDate form-control form-control-lg"
								id="datetimeDate" placeholder="Select Date..." required>
							<div class="invalid-feedback">Please select date of the event.
							</div>
						</div>
						<div class="mb-3">
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="Collection" onclick="enableDisable('Delivery')"
								required disabled>
							<label class="form-label">Collection</label>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="Delivery" onclick="enableDisable('Collection')"
								required disabled>
							<label class="form-label">Delivery</label>
							<div class="invalid-feedback">Please select date of the event to
								enable these fields.</div>
							<br>
							<div class="datetimeEvent">
								<label class="form-label" id="colDel">? of
									Order:</label>
								<br>
								<input class="flatpickrEvent form-control form-control-lg"
									id="datetimeEvent" required>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">What items would you like?</label><br>
							<div id="mainHeader"></div>
							<div id="subHeader"></div>
						</div>
						<div class="mb-3">
							<label for="EnquirieInput" class="form-label">Tell me more about
								the event the cake is for - Cake theme, colours,
								characters etc.</label>
							<textarea class="form-control form-control-lg"
								id="EnquirieInput" rows="6"
								placeholder="My daughter loves Disney princesses, especially Cinderella and Ariel! She loves the colour pink, tiaras and sprinkles."
								required></textarea>
						</div>
						<div class="mb-3">
							<label for="allergy" class="form-label">Are there any allergies
								I should be aware of?</label>
							<br>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="AllergyYes" onclick="enableDisable('AllergyNo')"
								required>
							<label class="form-label">Yes</label>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="AllergyNo" onclick="enableDisable('AllergyYes')"
								required>
							<label class="form-label">No</label>
							<textarea class="form-control form-control-lg" id="AllergyInput"
								rows="1"
								placeholder="If Yes, please explain here."></textarea>
							<div class="invalid-feedback">Please let me know of any
								allergies.</div>
						</div>
						<div class="mb-3">
							<label for="fileUpload" class="form-label">Images for
								inspiration:</label>
							<input class="form-control" id="files" type="file"
								accept="image/png, image/jpeg, image/jpg"
								multiple="multiple">
							<div class="invalid-feedback">Photo's of examples are required
								to give me idea's of what kind of designs you'd like.
							</div>
						</div>
						<div class="col">
							<button type="submit" class="btn btn-primary mb-3 p-2 px-4"
								id="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row EnquiriesSpacing m-0 p-0"></div>
		</div>

		<div class="w-100 m-0 p-0"></div>
		<footer id="footer" class="footer container-fluid m-0 p-0">
	<ul class="nav border-top m-0 p-0 footerList">
		<li class="nav-item nav-logo-footer">
			<a href="/">
				<img class="footerLogo"
					src="/images/home logo.png">
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.instagram.com/arnies_cakes/" target="_blank">
				<img class="footerImages" src="/images/instagram.svg">
			</a>
			<a class="footerLinks" href="https://www.instagram.com/arnies_cakes/" target="_blank">
				@arnies_cakes
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.facebook.com/ArniesCakes" target="_blank">
				<img class="footerImages" src="/images/facebook.svg">
			</a>
			<a class="footerLinks" href="https://www.facebook.com/ArniesCakes" target="_blank">
				Dublin Tortai - 'Arnie's Cakes'
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="mailto:arniescakes@gmail.com" target="">
				<img class="footerImages" src="/images/gmail.svg">
			</a>
			<a class="footerLinks" href="mailto:arniescakes@gmail.com" target="">
				arniescakes@gmail.com
			</a>
		</li>
		<li class="nav-item footerEnquires my-auto rounded-5">
			<a href="/Enquiries">
				Enquiries
			</a>
		</li>
	</ul>
</footer>

	</div>
</body>
<script src="./js/shared.js"></script>
<script src="./js/Enquiries.js"></script>

</html>