<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/flatpickr.js"></script>
	<link rel="stylesheet" href="./styling/flatpickr.css">
	<script src="./js/confirmDate.js"></script>
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/confirmDate.css">
	<link rel="stylesheet" href="./styling/enquiries.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>

<body>
	<div class="container-fluid EnquiriesContainer m-0 p-0">
		<div id="sideScroll" class="row sideScrollContainer m-0 p-0">
	<div class="col homeImageContainer">
		<div class="row sideScrollL m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
		</div>
		<div class="row sideScrollR m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
		</div>
	</div>
</div>
		<div class="ennquiresWrapper m-0 p-0">
			<div class="row policyContainer m-0 p-3 pb-5">
				<div class="col policy m-0 p-3 ms-3 rounded">
					<p>
					<h1>Policy:</h1>
					<h4>
						<br>
						Hello! I'm looking forward to potentially working together.<br><br>
						<b>Keep in mind that in no way does filling out this form put you on my
							calendar, reserves a spot or places your order.</b><br><br>
						I kindly request that all orders be placed <b>at least two weeks in
							advance.</b><br>
						If an order is placed with short notice, a short-notice fee may
						apply.<br><br>
						I offer delivery services to most surrounding areas, subject to an
						additional fee.<br><br>
						To secure your selected date <b> a deposit is required upon
							booking.</b><br>
						Should you need to cancel your order, I kindly ask that you provide us
						with sufficient notice, failure to comply will result in a
						non-refundable deposit.<br><br>
						I will try to respond as soon as possible.<br>
						Thank you.
					</h4>
					</p>
				</div>
			</div>
			<div class="row formContainer m-0 p-3">
				<div class="col userForm fontsizeEnquiries m-0 p-3 rounded">
					<form id="form" action="/api/submitEnquirie" method="POST"
						enctype="multipart/form-data" novalidate>
						<div class="mb-3">
							<label for="fullNameInput" class="form-label">Full Name:</label>
							<input type="text" class="form-control form-control-lg"
								id="fullNameInput" placeholder="Name" required>
							<div class="invalid-feedback">Please enter your name.</div>
						</div>
						<div class="mb-3">
							<label for="emailInput" class="form-label">Email:</label>
							<input type="email" class="form-control form-control-lg"
								id="emailInput" placeholder="name@example.com"
								pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
								required>
							<div class="invalid-feedback">Please make sure email is entered
								correctly</div>
						</div>
						<div class="mb-3">
							<label for="numberInput" class="form-label">Phone
								Number:</label>
							<br>
							<div class="d-flex">
								<input type="tel" class="form-control form-control-lg"
									id="numberInput"
									placeholder="0871234567 or +353871234567"
									pattern="^(08\d{8}|\+3538\d{8})$" length="13"
									title="Please enter number in the format of 0871231234 or +353871231234"
									required>
								<br>
								<div class="invalid-feedback">Please make sure your
									number is starting with 08 or +353</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Date of Event:</label>
							<br>
							<input class="flatpickrDate form-control form-control-lg"
								id="datetimeDate" placeholder="Select Date..." required>
							<div class="invalid-feedback">Please select date of the event.
							</div>
						</div>
						<div class="mb-3">
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="Collection" onclick="enableDisable('Delivery')"
								required disabled>
							<label class="form-label">Collection</label>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="Delivery" onclick="enableDisable('Collection')"
								required disabled>
							<label class="form-label">Delivery</label>
							<div class="invalid-feedback">Please select date of the event to
								enable these fields.</div>
							<br>
							<div class="datetimeEvent">
								<label class="form-label" id="colDel">? of
									Order:</label>
								<br>
								<input class="flatpickrEvent form-control form-control-lg"
									id="datetimeEvent" required>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label">What items would you like?</label><br>


							
							<div id="mainHeader">
								
									
									
										<div id="Cake" class="Cake itemWrapper">
	<input type="checkbox" id="CakeCheckBox" value=""
		onclick=updatePlaceholder(&#39;&#39;)
		required class="form-check-input CheckBox">
	<label for="CakeCheckBox" class="form-check-label mx-1 px-1">Cake</label>
	
		
			<div class="Flavours Vanilla">
				<input type="checkbox" id="CakeVanillaCheckBox" value=""
					onclick="updatePlaceholder('CakeVanilla')" required class="form-check-input ms-4">
				<label for="CakeVanillaCheckBox" class="form-check-label mx-1 px-1">Vanilla</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeVanillaCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeVanillaCheckBox1" for="CakeVanillaCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Chocolate">
				<input type="checkbox" id="CakeChocolateCheckBox" value=""
					onclick="updatePlaceholder('CakeChocolate')" required class="form-check-input ms-4">
				<label for="CakeChocolateCheckBox" class="form-check-label mx-1 px-1">Chocolate</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeChocolateCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeChocolateCheckBox1" for="CakeChocolateCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Red Velvet">
				<input type="checkbox" id="CakeRed VelvetCheckBox" value=""
					onclick="updatePlaceholder('CakeRed Velvet')" required class="form-check-input ms-4">
				<label for="CakeRed VelvetCheckBox" class="form-check-label mx-1 px-1">Red Velvet</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeRed VelvetCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeRed VelvetCheckBox1" for="CakeRed VelvetCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Raffaello">
				<input type="checkbox" id="CakeRaffaelloCheckBox" value=""
					onclick="updatePlaceholder('CakeRaffaello')" required class="form-check-input ms-4">
				<label for="CakeRaffaelloCheckBox" class="form-check-label mx-1 px-1">Raffaello</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeRaffaelloCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeRaffaelloCheckBox1" for="CakeRaffaelloCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Honey">
				<input type="checkbox" id="CakeHoneyCheckBox" value=""
					onclick="updatePlaceholder('CakeHoney')" required class="form-check-input ms-4">
				<label for="CakeHoneyCheckBox" class="form-check-label mx-1 px-1">Honey</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeHoneyCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeHoneyCheckBox1" for="CakeHoneyCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Black Forest">
				<input type="checkbox" id="CakeBlack ForestCheckBox" value=""
					onclick="updatePlaceholder('CakeBlack Forest')" required class="form-check-input ms-4">
				<label for="CakeBlack ForestCheckBox" class="form-check-label mx-1 px-1">Black Forest</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeBlack ForestCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeBlack ForestCheckBox1" for="CakeBlack ForestCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Napoleon">
				<input type="checkbox" id="CakeNapoleonCheckBox" value=""
					onclick="updatePlaceholder('CakeNapoleon')" required class="form-check-input ms-4">
				<label for="CakeNapoleonCheckBox" class="form-check-label mx-1 px-1">Napoleon</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeNapoleonCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeNapoleonCheckBox1" for="CakeNapoleonCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Lemon">
				<input type="checkbox" id="CakeLemonCheckBox" value=""
					onclick="updatePlaceholder('CakeLemon')" required class="form-check-input ms-4">
				<label for="CakeLemonCheckBox" class="form-check-label mx-1 px-1">Lemon</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeLemonCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeLemonCheckBox1" for="CakeLemonCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Fresh Fruit">
				<input type="checkbox" id="CakeFresh FruitCheckBox" value=""
					onclick="updatePlaceholder('CakeFresh Fruit')" required class="form-check-input ms-4">
				<label for="CakeFresh FruitCheckBox" class="form-check-label mx-1 px-1">Fresh Fruit</label>

				
					<div class="btn-group cakeSizes">
						<select id="CakeFresh FruitCakeSize" class="form-select cakeSizes m-1 p-1 pb-1 ms-4"
							required disabled style="display: none;">

							<option value="" selected disabled min="4" max="10">Please select cake size</option>
							<option value="4">4 inch (Round cake) - Feeds 4-6 People</option>
							<option value="6">6 inch (Round cake) - Feeds 14 People</option>
							<option value="8">8 inch (Round cake) - Feeds 24 People - Standard Size</option>
							<option value="10">10 inch (Square cake) - Feeds 50 People</option>
						</select>
					</div>
				

						<input type="number" id="CakeFresh FruitCheckBox1" for="CakeFresh FruitCheckBox"
							placeholder="0" min="1" step="1" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
	
</div>
									
								
									
									
										<div id="Cakepops" class="Cakepops itemWrapper">
	<input type="checkbox" id="CakepopsCheckBox" value=""
		onclick=updatePlaceholder(&#39;&#39;)
		required class="form-check-input CheckBox">
	<label for="CakepopsCheckBox" class="form-check-label mx-1 px-1">Cakepops</label>
	
		
			<div class="Flavours Vanilla">
				<input type="checkbox" id="CakepopsVanillaCheckBox" value=""
					onclick="updatePlaceholder('CakepopsVanilla')" required class="form-check-input ms-4">
				<label for="CakepopsVanillaCheckBox" class="form-check-label mx-1 px-1">Vanilla</label>

				

						<input type="number" id="CakepopsVanillaCheckBox1" for="CakepopsVanillaCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Chocolate">
				<input type="checkbox" id="CakepopsChocolateCheckBox" value=""
					onclick="updatePlaceholder('CakepopsChocolate')" required class="form-check-input ms-4">
				<label for="CakepopsChocolateCheckBox" class="form-check-label mx-1 px-1">Chocolate</label>

				

						<input type="number" id="CakepopsChocolateCheckBox1" for="CakepopsChocolateCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Red Velvet">
				<input type="checkbox" id="CakepopsRed VelvetCheckBox" value=""
					onclick="updatePlaceholder('CakepopsRed Velvet')" required class="form-check-input ms-4">
				<label for="CakepopsRed VelvetCheckBox" class="form-check-label mx-1 px-1">Red Velvet</label>

				

						<input type="number" id="CakepopsRed VelvetCheckBox1" for="CakepopsRed VelvetCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Honey">
				<input type="checkbox" id="CakepopsHoneyCheckBox" value=""
					onclick="updatePlaceholder('CakepopsHoney')" required class="form-check-input ms-4">
				<label for="CakepopsHoneyCheckBox" class="form-check-label mx-1 px-1">Honey</label>

				

						<input type="number" id="CakepopsHoneyCheckBox1" for="CakepopsHoneyCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Lemon">
				<input type="checkbox" id="CakepopsLemonCheckBox" value=""
					onclick="updatePlaceholder('CakepopsLemon')" required class="form-check-input ms-4">
				<label for="CakepopsLemonCheckBox" class="form-check-label mx-1 px-1">Lemon</label>

				

						<input type="number" id="CakepopsLemonCheckBox1" for="CakepopsLemonCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Fresh Fruit">
				<input type="checkbox" id="CakepopsFresh FruitCheckBox" value=""
					onclick="updatePlaceholder('CakepopsFresh Fruit')" required class="form-check-input ms-4">
				<label for="CakepopsFresh FruitCheckBox" class="form-check-label mx-1 px-1">Fresh Fruit</label>

				

						<input type="number" id="CakepopsFresh FruitCheckBox1" for="CakepopsFresh FruitCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
	
</div>
									
								
									
									
										<div id="Cakesicles" class="Cakesicles itemWrapper">
	<input type="checkbox" id="CakesiclesCheckBox" value=""
		onclick=updatePlaceholder(&#39;&#39;)
		required class="form-check-input CheckBox">
	<label for="CakesiclesCheckBox" class="form-check-label mx-1 px-1">Cakesicles</label>
	
		
			<div class="Flavours Vanilla">
				<input type="checkbox" id="CakesiclesVanillaCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesVanilla')" required class="form-check-input ms-4">
				<label for="CakesiclesVanillaCheckBox" class="form-check-label mx-1 px-1">Vanilla</label>

				

						<input type="number" id="CakesiclesVanillaCheckBox1" for="CakesiclesVanillaCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Chocolate">
				<input type="checkbox" id="CakesiclesChocolateCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesChocolate')" required class="form-check-input ms-4">
				<label for="CakesiclesChocolateCheckBox" class="form-check-label mx-1 px-1">Chocolate</label>

				

						<input type="number" id="CakesiclesChocolateCheckBox1" for="CakesiclesChocolateCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Red Velvet">
				<input type="checkbox" id="CakesiclesRed VelvetCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesRed Velvet')" required class="form-check-input ms-4">
				<label for="CakesiclesRed VelvetCheckBox" class="form-check-label mx-1 px-1">Red Velvet</label>

				

						<input type="number" id="CakesiclesRed VelvetCheckBox1" for="CakesiclesRed VelvetCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Honey">
				<input type="checkbox" id="CakesiclesHoneyCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesHoney')" required class="form-check-input ms-4">
				<label for="CakesiclesHoneyCheckBox" class="form-check-label mx-1 px-1">Honey</label>

				

						<input type="number" id="CakesiclesHoneyCheckBox1" for="CakesiclesHoneyCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Lemon">
				<input type="checkbox" id="CakesiclesLemonCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesLemon')" required class="form-check-input ms-4">
				<label for="CakesiclesLemonCheckBox" class="form-check-label mx-1 px-1">Lemon</label>

				

						<input type="number" id="CakesiclesLemonCheckBox1" for="CakesiclesLemonCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Fresh Fruit">
				<input type="checkbox" id="CakesiclesFresh FruitCheckBox" value=""
					onclick="updatePlaceholder('CakesiclesFresh Fruit')" required class="form-check-input ms-4">
				<label for="CakesiclesFresh FruitCheckBox" class="form-check-label mx-1 px-1">Fresh Fruit</label>

				

						<input type="number" id="CakesiclesFresh FruitCheckBox1" for="CakesiclesFresh FruitCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
	
</div>
									
								
									
									
										<div id="Cupcakes" class="Cupcakes itemWrapper">
	<input type="checkbox" id="CupcakesCheckBox" value=""
		onclick=updatePlaceholder(&#39;&#39;)
		required class="form-check-input CheckBox">
	<label for="CupcakesCheckBox" class="form-check-label mx-1 px-1">Cupcakes</label>
	
		
			<div class="Flavours Vanilla">
				<input type="checkbox" id="CupcakesVanillaCheckBox" value=""
					onclick="updatePlaceholder('CupcakesVanilla')" required class="form-check-input ms-4">
				<label for="CupcakesVanillaCheckBox" class="form-check-label mx-1 px-1">Vanilla</label>

				

						<input type="number" id="CupcakesVanillaCheckBox1" for="CupcakesVanillaCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Chocolate">
				<input type="checkbox" id="CupcakesChocolateCheckBox" value=""
					onclick="updatePlaceholder('CupcakesChocolate')" required class="form-check-input ms-4">
				<label for="CupcakesChocolateCheckBox" class="form-check-label mx-1 px-1">Chocolate</label>

				

						<input type="number" id="CupcakesChocolateCheckBox1" for="CupcakesChocolateCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Raffaello">
				<input type="checkbox" id="CupcakesRaffaelloCheckBox" value=""
					onclick="updatePlaceholder('CupcakesRaffaello')" required class="form-check-input ms-4">
				<label for="CupcakesRaffaelloCheckBox" class="form-check-label mx-1 px-1">Raffaello</label>

				

						<input type="number" id="CupcakesRaffaelloCheckBox1" for="CupcakesRaffaelloCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Honey">
				<input type="checkbox" id="CupcakesHoneyCheckBox" value=""
					onclick="updatePlaceholder('CupcakesHoney')" required class="form-check-input ms-4">
				<label for="CupcakesHoneyCheckBox" class="form-check-label mx-1 px-1">Honey</label>

				

						<input type="number" id="CupcakesHoneyCheckBox1" for="CupcakesHoneyCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Lemon">
				<input type="checkbox" id="CupcakesLemonCheckBox" value=""
					onclick="updatePlaceholder('CupcakesLemon')" required class="form-check-input ms-4">
				<label for="CupcakesLemonCheckBox" class="form-check-label mx-1 px-1">Lemon</label>

				

						<input type="number" id="CupcakesLemonCheckBox1" for="CupcakesLemonCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
			<div class="Flavours Fresh Fruit">
				<input type="checkbox" id="CupcakesFresh FruitCheckBox" value=""
					onclick="updatePlaceholder('CupcakesFresh Fruit')" required class="form-check-input ms-4">
				<label for="CupcakesFresh FruitCheckBox" class="form-check-label mx-1 px-1">Fresh Fruit</label>

				

						<input type="number" id="CupcakesFresh FruitCheckBox1" for="CupcakesFresh FruitCheckBox"
							placeholder="0" min="12" step="6" disabled
							class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
			</div>
		
	
</div>
									
								
									
								
									
								
									
								
									
								
									
								
							</div>

							<div id="subHeader">
								
									
								
									
								
									
								
									
								
									
										<div id="3dChocolateHeart" class="3dChocolateHeart itemWrapper">
	<input type="checkbox" id="3dChocolateHeartCheckBox" value=""
		onclick=updatePlaceholder(&#39;3dChocolateHeart&#39;)
		required class="form-check-input CheckBox">
	<label for="3dChocolateHeartCheckBox" class="form-check-label mx-1 px-1">3d Chocolate Heart</label>
	
		<input type="number" id="3dChocolateHeartCheckBox1" for="3dChocolateHeartCheckBox" placeholder="0" min="1"
			step="1" disabled class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
	
</div>
									
								
									
										<div id="ChocolateStrawberries" class="ChocolateStrawberries itemWrapper">
	<input type="checkbox" id="ChocolateStrawberriesCheckBox" value=""
		onclick=updatePlaceholder(&#39;ChocolateStrawberries&#39;)
		required class="form-check-input CheckBox">
	<label for="ChocolateStrawberriesCheckBox" class="form-check-label mx-1 px-1">Chocolate Strawberries</label>
	
		<input type="number" id="ChocolateStrawberriesCheckBox1" for="ChocolateStrawberriesCheckBox" placeholder="0" min="6"
			step="1" disabled class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
	
</div>
									
								
									
										<div id="GiftBox" class="GiftBox itemWrapper">
	<input type="checkbox" id="GiftBoxCheckBox" value=""
		onclick=updatePlaceholder(&#39;GiftBox&#39;)
		required class="form-check-input CheckBox">
	<label for="GiftBoxCheckBox" class="form-check-label mx-1 px-1">Gift Box</label>
	
		<input type="number" id="GiftBoxCheckBox1" for="GiftBoxCheckBox" placeholder="0" min="1"
			step="1" disabled class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
	
</div>
									
								
									
										<div id="Profiterolebags-PlikytiSausainukai" class="Profiterolebags-PlikytiSausainukai itemWrapper">
	<input type="checkbox" id="Profiterolebags-PlikytiSausainukaiCheckBox" value=""
		onclick=updatePlaceholder(&#39;Profiterolebags-PlikytiSausainukai&#39;)
		required class="form-check-input CheckBox">
	<label for="Profiterolebags-PlikytiSausainukaiCheckBox" class="form-check-label mx-1 px-1">Profiterole bags - Plikyti Sausainukai</label>
	
		<input type="number" id="Profiterolebags-PlikytiSausainukaiCheckBox1" for="Profiterolebags-PlikytiSausainukaiCheckBox" placeholder="0" min="3"
			step="1" disabled class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
	
</div>
									
								
									
										<div id="GingerbreadMushrooms(KG)-Grybukai" class="GingerbreadMushrooms(KG)-Grybukai itemWrapper">
	<input type="checkbox" id="GingerbreadMushrooms(KG)-GrybukaiCheckBox" value=""
		onclick=updatePlaceholder(&#39;GingerbreadMushrooms(KG)-Grybukai&#39;)
		required class="form-check-input CheckBox">
	<label for="GingerbreadMushrooms(KG)-GrybukaiCheckBox" class="form-check-label mx-1 px-1">Gingerbread Mushrooms (KG) - Grybukai</label>
	
		<input type="number" id="GingerbreadMushrooms(KG)-GrybukaiCheckBox1" for="GingerbreadMushrooms(KG)-GrybukaiCheckBox" placeholder="0" min="0.5"
			step="0.5" disabled class="form-control m-1 p-1 incrementalNumberBoxStyle d-inline-flex">
	
</div>
									
								
							</div>

						</div>
						<div class="mb-3">
							<label for="EnquirieInput" class="form-label">Tell me more about
								the event the cake is for - Cake theme, colours,
								characters etc.</label>
							<textarea class="form-control form-control-lg"
								id="EnquirieInput" rows="6"
								placeholder="My daughter loves Disney princesses, especially Cinderella and Ariel! She loves the colour pink, tiaras and sprinkles."
								required></textarea>
						</div>
						<div class="mb-3">
							<label for="allergy" class="form-label">Are there any allergies
								I should be aware of?</label>
							<br>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="AllergyYes" onclick="enableDisable('AllergyNo')"
								required>
							<label class="form-label">Yes</label>
							<input class="form-check-input mx-1 px-1" type="checkbox"
								id="AllergyNo" onclick="enableDisable('AllergyYes')"
								required>
							<label class="form-label">No</label>
							<textarea class="form-control form-control-lg" id="AllergyInput"
								rows="1"
								placeholder="If Yes, please explain here."></textarea>
							<div class="invalid-feedback">Please let me know of any
								allergies.</div>
						</div>
						<div class="mb-3">
							<label for="fileUpload" class="form-label">Images for
								inspiration:</label>
							<input class="form-control" id="files" type="file"
								accept="image/png, image/jpeg, image/jpg"
								multiple="multiple">
							<div class="invalid-feedback">Photo's of examples are required
								to give me idea's of what kind of designs you'd like.
							</div>
						</div>
						<div class="col">
							<button type="submit" class="btn btn-primary mb-3 p-2 px-4"
								id="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row EnquiriesSpacing m-0 p-0"></div>
		</div>

		<div class="w-100 m-0 p-0"></div>
		<footer id="footer" class="footer container-fluid m-0 p-0">
	<ul class="nav border-top m-0 p-0 footerList">
		<li class="nav-item nav-logo-footer">
			<a href="/">
				<img class="footerLogo"
					src="/images/home logo.png">
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.instagram.com/arnies_cakes/" target="_blank">
				<img class="footerImages" src="/images/instagram.svg">
			</a>
			<a class="footerLinks" href="https://www.instagram.com/arnies_cakes/" target="_blank">
				@arnies_cakes
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.facebook.com/ArniesCakes" target="_blank">
				<img class="footerImages" src="/images/facebook.svg">
			</a>
			<a class="footerLinks" href="https://www.facebook.com/ArniesCakes" target="_blank">
				Dublin Tortai - 'Arnie's Cakes'
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="mailto:arniescakes@gmail.com" target="">
				<img class="footerImages" src="/images/gmail.svg">
			</a>
			<a class="footerLinks" href="mailto:arniescakes@gmail.com" target="">
				arniescakes@gmail.com
			</a>
		</li>
		<li class="nav-item footerEnquires my-auto rounded-5">
			<a href="/Enquiries">
				Enquiries
			</a>
		</li>
		<li class="nav-item nav-privacy">
			<a href="/privacy">
				Privacy
			</a>
		</li>
	</ul>
</footer>

	</div>
</body>
<script src="./js/shared.js"></script>
<script src="./js/enquiries.js"></script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Bakery",
		"name": "Arnie's Cakes",
		"description": "Homemade custom cakes, treats, and desserts for any occasion, made in Dublin. Specializing in personalized cakes and treats for birthdays, weddings, and all events.",
		"url": "https://www.arniescakes.ie",
		"email": "mailto:arniescakes@gmail.com",
		"sameAs": [
			"https://www.facebook.com/arniescakes",
			"https://www.instagram.com/arnies_cakes"
			],
		"logo": "https://www.arniescakes.ie/images/home%20logo.png",
		"image": "https://www.arniescakes.ie/images/index/Kids%20Cakes/5.jpg",
		"hasMenu": "https://www.arniescakes.ie/flavours",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Dublin",
			"addressCountry": "IE"
			},
		"makesOffer": {
				"@type": "Offer",
				"url": "https://www.arniescakes.ie/Enquiries",
				"priceCurrency": "EUR",
					"itemOffered": {
							"@type": "Product",
							"name": "Custom Cakes & Treats",
							"description": "Custom cakes, treats, and desserts baked to order for all occasions."
							}
				}
	}
</script>
</html>