<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
				<div class="row items m-0 p-0">
					<div class="col-6 sideImagesContainer m-0 p-0">
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cakes/1.jpg" />
						</div>
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cakes/2.jpg" />
						</div>
					</div>
					<div class="col-6 itemFlavours m-0 p-0">
						<div class="col heading">
							<h2>
								Cakes
							</h2>
						</div>

						
							<div class="row textAlign m-0 p-0">
								<h4>
									4inch (Round Cake) - Feeds 4-6 People starting from €35
								</h4>
							</div>
							
							<div class="row textAlign m-0 p-0">
								<h4>
									6inch (Round Cake) - Feeds 14 People starting from €50
								</h4>
							</div>
							
							<div class="row textAlign m-0 p-0">
								<h4>
									8inch (Round Cake) - Feeds 24 People starting from €70
								</h4>
							</div>
							
							<div class="row textAlign m-0 p-0">
								<h4>
									10inch (Square Cake) - Feeds 50 People starting from €95
								</h4>
							</div>
							

								<div class="col heading2">
									<h3>Flavours:</h3>
								</div>

								
									<div class="row textAlign m-0 p-0">
										<h4>
											Vanilla
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Chocolate
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Red Velvet
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Raffaello
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Honey
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Black Forest
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Napoleon
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Lemon
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Fresh Fruit
										</h4>
									</div>
									

										<div class="row textAlign m-0 p-0">
											<h4 style="visibility:hidden">
												hidden</h4>
										</div>
					</div>
				</div>

				
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
				<div class="row items m-0 p-0">
					<div class="col-6 sideImagesContainer m-0 p-0">
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cakepops and Cakesicles/1.jpg" />
						</div>
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cakepops and Cakesicles/2.jpg" />
						</div>
					</div>
					<div class="col-6 itemFlavours m-0 p-0">
						<div class="col heading">
							<h2>
								Cakepops and Cakesicles
							</h2>
						</div>

						
							<div class="row textAlign m-0 p-0">
								<h4>
									12 Cakepops and Cakesicles starting from €30
								</h4>
							</div>
							

								<div class="col heading2">
									<h3>Flavours:</h3>
								</div>

								
									<div class="row textAlign m-0 p-0">
										<h4>
											Vanilla
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Chocolate
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Red Velvet
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Honey
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Lemon
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Fresh Fruit
										</h4>
									</div>
									

										<div class="row textAlign m-0 p-0">
											<h4 style="visibility:hidden">
												hidden</h4>
										</div>
					</div>
				</div>

				
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
				<div class="row items m-0 p-0">
					<div class="col-6 sideImagesContainer m-0 p-0">
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cupcakes/1.jpg" />
						</div>
						<div class="sideImages m-0 p-0">
							<img class="img sideImage m-0 p-0" loading="lazy"
								src="./images/flavours/Cupcakes/2.jpg" />
						</div>
					</div>
					<div class="col-6 itemFlavours m-0 p-0">
						<div class="col heading">
							<h2>
								Cupcakes
							</h2>
						</div>

						
							<div class="row textAlign m-0 p-0">
								<h4>
									12 Cupcakes starting from €24
								</h4>
							</div>
							

								<div class="col heading2">
									<h3>Flavours:</h3>
								</div>

								
									<div class="row textAlign m-0 p-0">
										<h4>
											Vanilla
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Chocolate
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Red Velvet
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Raffaello
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Honey
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Lemon
										</h4>
									</div>
									
									<div class="row textAlign m-0 p-0">
										<h4>
											 Fresh Fruit
										</h4>
									</div>
									

										<div class="row textAlign m-0 p-0">
											<h4 style="visibility:hidden">
												hidden</h4>
										</div>
					</div>
				</div>

				
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
					<div class="row items m-0 p-0" id="treatsItem">
						<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
							<div class="col heading" id="itemsHeading">
								<h2>Treats:</h2>
							</div>

							
								<div class="row textAlign m-0 p-0">
									<h4>
										3D Chocolate Heart: Starting from €45
									</h4>
								</div>
								
						</div>
					</div>

					
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
					<div class="row items m-0 p-0" id="treatsItem">
						<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
							<div class="col heading" id="itemsHeading">
								<h2>Treats:</h2>
							</div>

							
								<div class="row textAlign m-0 p-0">
									<h4>
										Chocolate Strawberries: 6 starting from €15
									</h4>
								</div>
								
						</div>
					</div>

					
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
					<div class="row items m-0 p-0" id="treatsItem">
						<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
							<div class="col heading" id="itemsHeading">
								<h2>Treats:</h2>
							</div>

							
								<div class="row textAlign m-0 p-0">
									<h4>
										Gift Box: Starting from €35
									</h4>
								</div>
								
						</div>
					</div>

					
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
					<div class="row items m-0 p-0" id="treatsItem">
						<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
							<div class="col heading" id="itemsHeading">
								<h2>Treats:</h2>
							</div>

							
								<div class="row textAlign m-0 p-0">
									<h4>
										Profiterole bags - (Plikyti Sausainukai): 3 bags starting from €20
									</h4>
								</div>
								
						</div>
					</div>

					
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/loading.css" id="loading">
	<link rel="stylesheet" href="./styling/flavours.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar"></nav>
</header>

<body>
	<div class="loading-container m-0 p-0" id="loading">
		<div class="loading-wrapper">
			<img class="loadingLogo m-1 p-1" src="./images/home logo.png">
			<p>Please wait while we load the page, please make sure JavaScript isn't disabled.</p>
		</div>
	</div>
	<script src="./js/loading.js" id="loading"></script>

	<div class="flavoursContainer container-fluid m-0 p-0">
		<div class="row flavours" id="flavours">
			
					<div class="row items m-0 p-0" id="treatsItem">
						<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/Treats/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
							<div class="col heading" id="itemsHeading">
								<h2>Treats:</h2>
							</div>

							
								<div class="row textAlign m-0 p-0">
									<h4>
										Gingerbread Mushrooms (KG) - (Grybukai): 1KG starting from €28
									</h4>
								</div>
								
						</div>
					</div>

					
		</div>
	</div>

	<div class="w-100 m-0 p-0"></div>
	<footer id="footer"></footer>
</body>
<script src="./js/loading.js" onload="show();" id="loading"></script>

</html>