<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/gallery.css">
	<link rel="stylesheet" href="./styling/shared.css">
	<link rel="stylesheet" href="./styling/index.css">
	<link rel="canonical" href="/gallery?type=All" />
</head>
<header>
	<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>

<body>
	<div class="container-fluid contain m-0 p-0">
		<div class="row containerWrapper m-0 p-0">
			<div class="col carousel slide viewWrapper rounded m-0 p-4" id="mainGalleryContainer">
				<div class="selector m-0 p-1">
					<nav class="nav justify-content-center carousel-list">
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="0" class="carousel-button nav-link" href="javascript:;">All</a>
						</span>
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="1" class="carousel-button nav-link" href="javascript:;">Kids Cakes</a>
						</span>
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="2" class="carousel-button nav-link" href="javascript:;">Cakes</a>
						</span>
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="3" class="carousel-button nav-link" href="javascript:;">Cupcakes</a>
						</span>
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="4" class="carousel-button nav-link" href="javascript:;">Cakepops</a>
						</span>
						<span class="nav-item m-0 p-0">
							<a data-bs-target="#mainGalleryContainer" data-bs-slide-to="5" class="carousel-button nav-link" href="javascript:;">Treats</a>
						</span>
					</nav>
				</div>

				<div class="galleryContainers carousel-inner" data-bs-target="mainGalleryContainer">
					<div class="carousel-item All">
						<div class="container-fluid carItemContainer m-0 p-0" id="All"></div>
					</div>
					<div class="carousel-item KidsCakes">
						<div class="container-fluid carItemContainer m-0 p-0" id="KidsCakes">
						</div>
					</div>
					<div class="carousel-item Cakes">
						<div class="container-fluid carItemContainer m-0 p-0" id="Cakes"></div>
					</div>
					<div class="carousel-item Cupcakes">
						<div class="container-fluid carItemContainer m-0 p-0" id="Cupcakes">
						</div>
					</div>
					<div class="carousel-item Cakepops">
						<div class="container-fluid carItemContainer m-0 p-0" id="Cakepops">
						</div>
					</div>
					<div class="carousel-item Treats">
						<div class="container-fluid carItemContainer m-0 p-0" id="Treats"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="lightBox" data-bs-theme="dark">
			<div class="modal-dialog modal-dialog-centered justify-content-center">
				<div class="modal-content carousel slide" id="lightBoxContent">
					<div class="close-button align-self-center m-1 p-1">
						<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modalContainer carousel-inner" id="modal-carousel"></div>
					<button class="carousel-control-prev" type="button" data-bs-target="#lightBoxContent" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#lightBoxContent" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
					<div class="close-button-mobile align-self-center m-1 p-1">
						<button type="button" class="btn-close" aria-label="Close"
							data-bs-dismiss="modal"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="./js/gallery.js" onload="getGallery()" defer></script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Bakery",
		"name": "Arnie's Cakes",
		"description": "Homemade custom cakes, treats, and desserts for any occasion, made in Dublin. Specializing in personalized cakes and treats for birthdays, weddings, and all events.",
		"url": "https://www.arniescakes.ie",
		"email": "mailto:arniescakes@gmail.com",
		"sameAs": [
			"https://www.facebook.com/arniescakes",
			"https://www.instagram.com/arnies_cakes"
			],
		"logo": "https://www.arniescakes.ie/images/home%20logo.png",
		"image": "https://www.arniescakes.ie/images/index/Kids%20Cakes/5.jpg",
		"hasMenu": "https://www.arniescakes.ie/flavours",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Dublin",
			"addressCountry": "IE"
			},
		"makesOffer": {
				"@type": "Offer",
				"url": "https://www.arniescakes.ie/Enquiries",
				"priceCurrency": "EUR",
					"itemOffered": {
							"@type": "Product",
							"name": "Custom Cakes & Treats",
							"description": "Custom cakes, treats, and desserts baked to order for all occasions."
							}
				}
	}
</script>
</html>