<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Arnie's Cakes | Custom Cakes & Delicious Treats Home made in Dublin</title>
	<meta name="description"
		content="Arnie's Cakes specializes in custom cakes and baked treats for all occasions home made in Dublin. Order now for personalized cakes, birthday cakes, and more.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./js/bootstrap.js"></script>
	<link rel="stylesheet" href="./styling/bootstrap.css">
	<link rel="stylesheet" href="./styling/index.css">
	<link rel="stylesheet" href="./styling/shared.css">
</head>
<header>
	<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>
<body>
	<div class="container-fluid m-0 p-0 overflow-x-hidden">

		<div id="sideScroll" class="row sideScrollContainer m-0 p-0">
	<div class="col homeImageContainer">
		<div class="row sideScrollL m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/1.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/2.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/3.jpg">
			</div>
		</div>
		<div class="row sideScrollR m-1 d-inline-block">
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/4.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/5.jpg">
			</div>
			<div class="col p-0 my-1 py-1">
				<img class="homeImage" 
					loading="lazy"
					src="/images/Sidescroll/6.jpg">
			</div>
		</div>
	</div>
</div>

		<div class="row LandingContainer m-0 p-0">
			<div class="col m-0 p-0">
				<div class="LandingLogo">
					<img class="HomeLogo m-1 p-1" src="./images/home logo.png">
					<h1 class="WelcomeText">Welcome To Arnie's Cakes !</h1>
					<a class="btn btn-purple btn-lg OrderNow" href="./Enquiries">Order now</a>
				</div>
			</div>
			<div class="landingBGImage"></div>
		</div>

		<div class="w-100"></div>

		<div class="row aboutMe">
			<div class="col position-relative overflow-hidden m-0 p-2 py-5">
				<div class="row m-0 p-0">
					<div class="col">
						<h1 class="aboutMeHeader">About Me</h1>
					</div>
				</div>
				<div class="row aboutMeContainer">
					<div class="col aboutMeImageContainer my-auto py-auto">
						<img class="img-thumbnail rounded-3 aboutMeImage " loading="lazy"
							src="./images/arnie.jpg">
					</div>
					<div class="col aboutMePragraph py-2 my-auto py-auto">
						<p>
							Hi! I'm Arnie.
							<br><br>
							Growing up I always dreamt of how amazing it would be to go to
							work every day to a place that smelled of fresh cakes and
							colorfully decorated treats. I put this dream on the backburner,
							until the beginning of 2020.
							<br><br>
							I found so much comfort in baking cakes in my home kitchen. My
							friends and family started wondering how they could order and
							taste what I was baking, and that's how Arnie's Cakes was born!
							<br><br>
							Since then, I have spent the years learning and baking, creating
							fun treats for so many special occasions, and doing what I love.
							<br><br>
							I am HACCP Level 1 and Food Allergen certified.
							<br>
							Based in Dublin 24.
						</p>
					</div>
				</div>
				<div class="aboutMeBGImage"></div>
			</div>
		</div>

		<div class="w-100 m-0 p-0"></div>


		<div class="row galleryContainer m-0 p-0 mb-1 pb-1">
			<div class="col m-0 p-0 me-1 pe-1">
				<div class="galleryHeaderContainer">
					<div class="m-0 p-0 ms-1 ps-1">
						<h1 class="galleryHeader">Gallery Showcase</h1>
					</div>
				</div>

				<div class="carousel slide carouselView" id="carouselContainer">
					<div class="selectorContainer sticky-top m-0 p-0">
						<div class="selector m-0 p-0 ms-1 ps-1">
							<nav class="nav justify-content-center carousel-list">
								<span class="nav-item m-0 p-0">
									<a data-bs-target="#carouselContainer"
										data-bs-slide-to="0"
										class="carousel-button nav-link active"
										href="#KidsCakes">Kids Cakes</a>
								</span>
								<span class="nav-item m-0 p-0">
									<a data-bs-target="#carouselContainer"
										data-bs-slide-to="1"
										class="carousel-button nav-link"
										href="#Cakes">Cakes</a>
								</span>
								<span class="nav-item m-0 p-0">
									<a data-bs-target="#carouselContainer"
										data-bs-slide-to="2"
										class="carousel-button nav-link"
										href="#Cupcakes">Cupcakes</a>
								</span>
								<span class="nav-item m-0 p-0">
									<a data-bs-target="#carouselContainer"
										data-bs-slide-to="3"
										class="carousel-button nav-link"
										href="#Cakepops">Cakepops</a>
								</span>
							</nav>
						</div>
					</div>


					<div class="carousel-inner" data-bs-spy="scroll"
						data-bs-target="carouselContainer">

						<div class="carousel-item active" id="carousel-items KidsCakes">
							<div class="container-fluid carousel-gallery m-0 p-0">

								<div class="col-6 col-lg-2 Gallery m-0 p-1">
									<img class="KidsCakesGallery1 carouselGallery d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/1.jpg">
									<img class="KidsCakesGallery2 carouselGallery rightPics d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/2.jpg">
								</div>

								<div class="col-6 col-lg-2 Gallery m-0 p-1">
									<img class="KidsCakesGallery3 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/3.jpg">
									<img class="KidsCakesGallery4 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/4.jpg">
								</div>

								<div class="col-12 col-lg-3 Gallery m-0 p-1">
									<img class="KidsCakesGallery5 carouselGallery rightPics d-h100 vph70 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/5.jpg">
								</div>

								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="KidsCakesGallery6 carouselGallery d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/6.jpg">
									<img class="KidsCakesGallery7 carouselGallery rightPics d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/7.jpg">
								</div>

								<div class="col-6 col-lg-2 Gallery m-0 p-1">
									<img class="KidsCakesGallery8 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/8.jpg">
									<img class="KidsCakesGallery9 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Kids Cakes/9.jpg">
								</div>

							</div>
						</div>

						<div class="carousel-item" id="carousel-items Cakes">
							<div class="container-fluid carousel-gallery m-0 p-0">
								<div
									class="col-12 col-lg-5 flex-column Gallery m-0 p-1">
									<img class="CakesGallery1 carouselGallery d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/1.jpg">
									<div
										class="container-fluid galleryDoubleInCol m-0 p-0">
										<img class="CakesGallery2 carouselGallery d-h40 m-1 p-0"
											loading="lazy"
											src="./images/Index/Cakes/2.jpg">
										<img class="CakesGallery3 carouselGallery d-h40 m-1 p-0"
											loading="lazy"
											src="./images/Index/Cakes/3.jpg">
									</div>
								</div>
								<div class="col-6 col-lg-2 Gallery m-0 p-1">
									<img class="CakesGallery4 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/4.jpg">
									<img class="CakesGallery5 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/5.jpg">
								</div>
								<div
									class="col-12 col-lg-3 flex-column Gallery m-0 p-1">
									<img class="CakesGallery6 carouselGallery d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/6.jpg">
									<img class="CakesGallery7 carouselGallery rightPics d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/7.jpg">
								</div>

								<div class="col-6 col-lg-2 Gallery m-0 p-1">
									<img class="CakesGallery8 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/8.jpg">
									<img class="CakesGallery9 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakes/9.jpg">
								</div>
							</div>
						</div>
						<div class="carousel-item" id="carousel-items Cupcakes">
							<div class="container-fluid carousel-gallery m-0 p-0">
								<div class="col-12 col-lg-3 Gallery m-0 p-1">
									<img class="CupcakesGallery1 carouselGallery rightPics d-h100 vph70 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/1.jpg">
								</div>
								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="CupcakesGallery2 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/2.jpg">
									<img class="CupcakesGallery3 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/3.jpg">
								</div>
								<div class="col-12 col-lg-3 Gallery m-0 p-1">
									<img class="CupcakesGallery4 carouselGallery rightPics d-h100 vph60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/4.jpg">
								</div>

								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="CupcakesGallery5 carouselGallery d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/5.jpg">
									<img class="CupcakesGallery6 carouselGallery rightPics d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cupcakes/6.jpg">
								</div>
							</div>
						</div>
						<div class="carousel-item" id="carousel-items Cakepops">
							<div class="container-fluid carousel-gallery m-0 p-0">
								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="CakepopsGallery1 carouselGallery d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/1.jpg">
									<img class="CakepopsGallery2 carouselGallery rightPics d-h50 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/2.jpg">
								</div>
								<div class="col-12 col-lg-3 Gallery m-0 p-1">
									<img class="CakepopsGallery3 carouselGallery rightPics d-h100 vph70 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/3.jpg">
								</div>
								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="CakepopsGallery4 carouselGallery d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/4.jpg">
									<img class="CakepopsGallery5 carouselGallery rightPics d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/5.jpg">
								</div>
								<div class="col-6 col-lg-3 Gallery m-0 p-1">
									<img class="CakepopsGallery6 carouselGallery d-h60 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/6.jpg">
									<img class="CakepopsGallery7 carouselGallery rightPics d-h40 m-1 p-0"
										loading="lazy"
										src="./images/Index/Cakepops/7.jpg">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w-100"></div>
		<div class="row Testimonials m-0 p-0">
			<div class="col m-0 p-0">
				<div id="testimonialsCarousel" class="carousel slide"> <!--data-bs-ride="carousel">-->

					<div class="carousel slide">
						<div class="carousel-inner">
							<img class="img testimonialsBG testBGInView" loading="lazy"
								style="background-image: url('./images/Index/Cakepops/6.jpg')">
							<img class="img testimonialsBG testBGLoad" loading="lazy"
								style="background-image: url('./images/Index/Cakepops/7.jpg')">

							<div class="container-fluid carousel-testimonial m-0 p-0">
								<div class="carousel-item testimonialContainer order-3 active m-0"
									id="carousel-items">
									<div class="card text-center rounded-5">
										<div class="card-header p-3">
											<h3 class="TestimonialsName my-auto py-auto mx-auto my-auto"
												style="font-weight:bold;">
												Merle Sasameyuki</h3>
										</div>

										<div class="card-body m-0 p-0">
											<img class="card-img rounded-0 testimonialsPhoto m-0 p-0"
												loading="lazy"
												src="./images/Index/Cakes/3.jpg">
										</div>

										<div class="card-footer p-3">
											<!--<meter class="rating" min="0" max="5" value="4.5" style="--UpdateRating: 4.5;"></meter>-->
											<div class="rating"
												style="--percent: 80%;">
											</div>
											<p class="card-text">
												Rafaello cake was
												absolutely delicious and
												it made my Easter 😍 🍰
												I would recommend it
												wholeheartedly - Arnie's
												cake was heavenly
												delish:D
											</p>
										</div>
									</div>
								</div>

								<div class="carousel-item testimonialContainer order-4 m-0"
									id="carousel-items">
									<div class="card text-center rounded-5">
										<div class="card-header p-3">
											<h3 class="TestimonialsName my-auto py-auto mx-auto my-auto"
												style="font-weight:bold;">
												Alexandra Elena</h3>
										</div>

										<div class="card-body m-0 p-0">
											<img class="card-img rounded-0 testimonialsPhoto m-0 p-0"
												loading="lazy"
												src="./images/Index/Kids Cakes/7.jpg">
										</div>

										<div class="card-footer p-3">
											<!--<meter class="rating" min="0" max="5" value="4.5" style="--UpdateRating: 4.5;"></meter>-->
											<div class="rating"
												style="--percent: 80%;">
											</div>
											<p class="card-text">
												The most delicious cakes
												and how you dream your
												cake to look is what
												you'll get.. Highly
												recommended! 🎂
											</p>
										</div>
									</div>
								</div>

								<div class="carousel-item testimonialContainer order-5 m-0"
									id="carousel-items">
									<div class="card text-center rounded-5">
										<div class="card-header p-3">
											<h3 class="TestimonialsName my-auto py-auto mx-auto my-auto"
												style="font-weight:bold;">
												Ivars Gulevskis</h3>
										</div>

										<div class="card-body m-0 p-0">
											<img class="card-img rounded-0 testimonialsPhoto m-0 p-0"
												loading="lazy"
												src="./images/Index/Tetimonials/4.jpg">
										</div>

										<div class="card-footer p-3">
											<!--<meter class="rating" min="0" max="5" value="4.5" style="--UpdateRating: 4.5;"></meter>-->
											<div class="rating"
												style="--percent: 80%;">
											</div>
											<p class="card-text">
												Honey cake for my wife's
												birthday was great!
												Highly recommended 👍
											</p>
										</div>
									</div>
								</div>

								<div class="carousel-item testimonialContainer order-1 m-0"
									id="carousel-items">
									<div class="card text-center rounded-5">
										<div class="card-header p-3">
											<h3 class="TestimonialsName my-auto py-auto mx-auto my-auto"
												style="font-weight:bold;">
												Ignas Grubliauskas</h3>
										</div>

										<div class="card-body m-0 p-0">
											<img class="card-img rounded-0 testimonialsPhoto m-0 p-0"
												loading="lazy"
												src="./images/Index/Cakes/1.jpg">
										</div>

										<div class="card-footer p-3">
											<!--<meter class="rating" min="0" max="5" value="4.5" style="--UpdateRating: 4.5;"></meter>-->
											<div class="rating"
												style="--percent: 80%;">
											</div>
											<p class="card-text">
												Ordered honey cake
												designed as a suit for
												my 24th birthday and was
												very delicious😍 second
												time ordering and
												haven't been let down. I
												recommend to all my
												friends and family.
											</p>
										</div>
									</div>
								</div>

								<div class="carousel-item testimonialContainer order-2 m-0"
									id="carousel-items">
									<div class="card text-center rounded-5">
										<div class="card-header p-3">
											<h3 class="TestimonialsName my-auto py-auto mx-auto my-auto"
												style="font-weight:bold;">
												Robertas Kalnikas</h3>
										</div>

										<div class="card-body m-0 p-0">
											<img class="card-img rounded-0 testimonialsPhoto m-0 p-0"
												loading="lazy"
												src="./images/Index/Tetimonials/5.jpg">
										</div>

										<div class="card-footer p-3">
											<!--<meter class="rating" min="0" max="5" value="4.5" style="--UpdateRating: 4.5;"></meter>-->
											<div class="rating"
												style="--percent: 80%;">
											</div>
											<p class="card-text">
												We ordered a cake for my
												30th birthday and the
												cake was awesome! Not to
												sweet, but satisfyingly
												refreshing one. Highly
												recommend!
											</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


					<button class="carousel-control-prev carousel-dark" type="button"
						data-bs-target="#testimonialsCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next carousel-dark" type="button"
						data-bs-target="#testimonialsCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

			</div>
		</div>

		<div class="w-100 m-0 p-0"></div>
		<footer id="footer" class="footer container-fluid m-0 p-0">
	<ul class="nav border-top m-0 p-0 footerList">
		<li class="nav-item nav-logo-footer">
			<a href="/">
				<img class="footerLogo"
					src="/images/home logo.png">
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.instagram.com/arnies_cakes/" target="_blank">
				<img class="footerImages" src="/images/instagram.svg">
			</a>
			<a class="footerLinks" href="https://www.instagram.com/arnies_cakes/" target="_blank">
				@arnies_cakes
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.facebook.com/ArniesCakes" target="_blank">
				<img class="footerImages" src="/images/facebook.svg">
			</a>
			<a class="footerLinks" href="https://www.facebook.com/ArniesCakes" target="_blank">
				Dublin Tortai - 'Arnie's Cakes'
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="mailto:arniescakes@gmail.com" target="">
				<img class="footerImages" src="/images/gmail.svg">
			</a>
			<a class="footerLinks" href="mailto:arniescakes@gmail.com" target="">
				arniescakes@gmail.com
			</a>
		</li>
		<li class="nav-item footerEnquires my-auto rounded-5">
			<a href="/Enquiries">
				Enquiries
			</a>
		</li>
		<li class="nav-item nav-privacy">
			<a href="/privacy">
				Privacy
			</a>
		</li>
	</ul>
</footer>
	</div>

	<script src="./js/shared.js"></script>
	<script src="./js/index.js"></script>
</body>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Bakery",
		"name": "Arnie's Cakes",
		"description": "Homemade custom cakes, treats, and desserts for any occasion, made in Dublin. Specializing in personalized cakes and treats for birthdays, weddings, and all events.",
		"url": "https://www.arniescakes.ie",
		"email": "mailto:arniescakes@gmail.com",
		"sameAs": [
			"https://www.facebook.com/arniescakes",
			"https://www.instagram.com/arnies_cakes"
			],
		"logo": "https://www.arniescakes.ie/images/home%20logo.png",
		"image": "https://www.arniescakes.ie/images/index/Kids%20Cakes/5.jpg",
		"hasMenu": "https://www.arniescakes.ie/flavours",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Dublin",
			"addressCountry": "IE"
			},
		"makesOffer": {
				"@type": "Offer",
				"url": "https://www.arniescakes.ie/Enquiries",
				"priceCurrency": "EUR",
					"itemOffered": {
							"@type": "Product",
							"name": "Custom Cakes & Treats",
							"description": "Custom cakes, treats, and desserts baked to order for all occasions."
							}
				}
	}
</script>

</html>