<footer id="footer" class="footer container-fluid m-0 p-0">
	<ul class="nav border-top m-0 p-0 footerList">
		<li class="nav-item nav-logo-footer">
			<a href="/">
				<img class="footerLogo"
					src="/images/home logo.png">
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.instagram.com/arnies_cakes/" target="_blank">
				<img class="footerImages" src="/images/instagram.svg">
			</a>
			<a class="footerLinks" href="https://www.instagram.com/arnies_cakes/" target="_blank">
				@arnies_cakes
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="https://www.facebook.com/ArniesCakes" target="_blank">
				<img class="footerImages" src="/images/facebook.svg">
			</a>
			<a class="footerLinks" href="https://www.facebook.com/ArniesCakes" target="_blank">
				Dublin Tortai - 'Arnie's Cakes'
			</a>
		</li>
		<li class="nav-item my-auto">
			<a href="mailto:arniescakes@gmail.com" target="">
				<img class="footerImages" src="/images/gmail.svg">
			</a>
			<a class="footerLinks" href="mailto:arniescakes@gmail.com" target="">
				arniescakes@gmail.com
			</a>
		</li>
		<li class="nav-item footerEnquires my-auto rounded-5">
			<a href="/Enquiries">
				Enquiries
			</a>
		</li>
	</ul>
</footer>