<nav id="navbar" class="navbar fixed-top navbar-expand-lg " style="top: 0px;">
	<div class="container-fluid m-0 p-0 navContainer">
		<button class="navbar-toggler collapsed ms-2" type="button" id="toggling" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
			style="top: 0px;">
			<ul class="navbar-nav">

				<!-- Logo -->
				<li class="nav-item nav-logo m-0 p-0">
					<a href="/">
						<img class="navBarLogo" src="/images/home logo.png">
					</a>
				</li>

				<!-- Nav Items -->
				<li class="nav-item">
					<a class="nav-link active fontsize" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fontsize" href="/About">About Me</a>
				</li>

				<!-- Gallery Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fontsize" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown">Gallery</a>
					<div class="dropdown-menu fontsize">
						<a class="dropdown-item" href="/Gallery.html?type=All">All</a>
						<a class="dropdown-item" href="/Gallery.html?type=KidsCakes">Kids
							Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakes">Cakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cakepops">Cakepops</a>
						<a class="dropdown-item" href="/Gallery.html?type=Cupcakes">Cupcakes</a>
						<a class="dropdown-item" href="/Gallery.html?type=Treats">Treats</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link fontsize" href="/Flavours">Flavours</a>
				</li>

				<li class="nav-item">
					<img class="ribbon" src="/images/ribbon.png">
					<a class="nav-link fontsize" href="/Enquiries">Enquiries</a>
				</li>
			</ul>
		</div>
	</div>
</nav>