@font-face {
  font-family: 'Belleza';
  font-style: normal;
  font-weight: 400;
  src: local('Belleza-Regular'), url('./fonts/Belleza-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Halimun';
  font-style: normal;
  font-weight: 400;
  src: local('Halimun'), url('./fonts/Halimun.ttf') format('truetype');
}

body {
  background-color: #FAF9F6;
  padding-top: 70px;
  font-family: 'Belleza';
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  /*overflow-y: scroll;*/
}

.fontsize {
  font-size: 29px;
  /*font-weight: bold;*/
}

.hr-line {
  width: 100%;
  opacity: 100%;
  border: 20px solid #D3BBDD;  /*15px*/
  /*background-color: #D3BBDD;  /*15px*/
  position: absolute;
  z-index: -2;
}

.ribbon {
  opacity: 90%;
  position: absolute; 
  width: 150px;
  margin-top: -35px !important;
  height: 50%;
  padding: 0px !important;
  margin: -25px;
  z-index: -2;
}

.homeImage{
  height: 40vh;
  aspect-ratio: 1 / 1.25;
}

.homeImageContainer{
  pointer-events: none;
  transform: rotate(-21.5deg);
  position: fixed;
  right: -200vw;
  top: -50vh;
  z-index: -1;
  width: 200vw;
}

a{
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

a.homeBoxLinks:nth-child(2){
  position: relative;
  margin: 10%;
}

.imageAnimationL {
  -webkit-animation: mover 20s linear infinite;
  animation: mover 20s linear infinite;
}

.imageAnimationR {
  -webkit-animation: mover 25s linear infinite;
  animation: mover 25s linear infinite;
}

@-webkit-keyframes mover {
  0% { transform: translateY(-300%); }
  100% { transform: translateY(3%); }
}
@keyframes mover {
  0% { transform: translateY(-300%); }
  100% { transform: translateY(3%); }
}

@media only screen and (min-width: 576px){
  body {
    background-color: #FAF9F6;
    padding-top: 70px;
    font-family: 'Belleza';
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    /*overflow-y: scroll;*/
  }
  
  .hr-line {
    width: 100%;
    opacity: 100%;
    border: 20px solid #D3BBDD;
    position: absolute;
    z-index: -2;
  }
  
  .ribbon {
    opacity: 90%;
    position: absolute; 
    width: 150px;
    height: 200px;
    margin-top: -85px !important;
    padding: 0px !important;
    margin: -18px;
    z-index: -2;
  }
  
  .homeImage{
    width: 400px;
    height: 525px;
  }
  
  .homeImageContainer{
    pointer-events: none;
    transform: rotate(-21.5deg);
    position: fixed;
    right: -30vw;
    top: -600px;
    z-index: -1;
  }

  .homeImageContainer{
    right: -60vw;
    top: -600px;
}
}


/* back up */

/*
@font-face {
  font-family: 'Belleza';
  font-style: normal;
  font-weight: 400;
  src: local('Belleza-Regular'), url('./fonts/Belleza-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Halimun';
  font-style: normal;
  font-weight: 400;
  src: local('Halimun'), url('./fonts/Halimun.ttf') format('truetype');
}

body {
  background-color: #FAF9F6;
  padding-top: 70px;
  font-family: 'Belleza';
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  /*overflow-y: scroll;
}

.fontsize {
  font-size: 29px;
  /*font-weight: bold;
}

.hr-line {
  width: 100%;
  opacity: 100%;
  border: 20px solid #D3BBDD;  /*15px
  /*background-color: #D3BBDD;  /*15px
  position: absolute;
  z-index: -2;
}

.ribbon {
  opacity: 90%;
  position: absolute; 
  width: 150px;
  margin-top: -85px !important;
  padding: 0px !important;
  margin: -18px;
  z-index: -2;
}

.homeImage{
  width: 400px;
  height: 525px;
}

.homeImageContainer{
  pointer-events: none;
  transform: rotate(-21.5deg);
  position: fixed;
  right: -30vw;
  top: -600px;
  z-index: -1;
}


@media only screen and (min-width: 0px) and (max-width: 1299px) {
  .homeImageContainer{
      right: -140vw;
  }
}


@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .homeImageContainer{
      right: -100vw;
  }
}


@media only screen and (min-width: 1400px) and (max-width: 1499px) {
  .homeImageContainer{
      right: -90vw;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
  .homeImageContainer{
      right: -80vw;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .homeImageContainer{
      right: -70vw;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1784px) {
  .homeImageContainer{
      right: -60vw;
  }
}

@media only screen and (min-width: 1785px) and (max-width: 2000px) {
  .homeImageContainer{
      right: -50vw;
  }
}

@media only screen and (min-width: 2070px) {
  .homeImage{
      width: 500px;
      height: 650px;
  }
}

@media only screen and (min-width: 2300px) {
  .homeImage{
      width: 600px;
      height: 800px;
  }
}


a{
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;
}

.imageAnimationL {
  -webkit-animation: mover 20s linear infinite;
  animation: mover 20s linear infinite;
}

.imageAnimationR {
  -webkit-animation: mover 25s linear infinite;
  animation: mover 25s linear infinite;
}

@-webkit-keyframes mover {
  0% { transform: translateY(-300%); }
  100% { transform: translateY(3%); }
}
@keyframes mover {
  0% { transform: translateY(-300%); }
  100% { transform: translateY(3%); }
}*/